<launch>
    <!-- Include the robot_state_publisher launch file from our package, with sim time enabled-->
    <arg name="use_sim_time" default="true"/>
    <include file="$(find robot_model)/launch/rsp.launch">
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    </include>

    <!-- 使用自定义的世界文件 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find robot_model)/config/easy/easy.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- Run the spawner node from the gazebo_ros package to spawn the robot-->
    <node name="spawn_entity" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model robot_model -reference_frame world"/>
</launch>